[View in Colaboratory](https://colab.research.google.com/github/carvalheirafc/probabilidade_repository/blob/master/prova1/CarlosFredericoCarvalheiraMello.ipynb)

# Unidade 01 - Avaliação 01

- **Aluno**:Carlos Frederico Carvalheira Mello
- **Matrícula**: 20150103172


**Avisos**

1. O conceito desta avaliação corresponde a **100% da primera unidade**. Os assuntos aqui abordados fazem menção as doze primeiras aulas do curso.
2. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
3. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python 3 (**verificar o tipo do runtime**) e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
4. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
5. O arquivo da base de dados não deve ser alterado.

# Base de Dados

In [57]:
# Fazer o upload da base de dados (resultados.csv)

from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving resultados.csv to resultados (2).csv
User uploaded file "resultados.csv" with length 2957809 bytes

A base de dados contem informações sobre resultados de jogos de futebol entre seleções dos países compreendendo diversas competições realizadas pela [FIFA](https://en.wikipedia.org/wiki/FIFA). As colunas da base de dados são:
- **date** - a data que ocorreu o jogo.
- **home_team** - a seleção da casa
- **away_team** - a seleção visitante
- **home_score** - quantidade de gols realizados pela seleção da casa
- **away_score** - quantidade de gols realizados pela seleção visitante
- **tournament** - tipo do campeonato
- **city** - cidade que sediou o jogo
- **country** - país que sediou o jogo
- **neutral** - indica se o jogo foi realizado em local neutro

# Questão 1 (2.0 pontos)

Investigando a base de dados.

1. (0.2 pontos) Fazer a leitura da base de dados para um objeto Dataframe.
2. (0.2 pontos) Quantas linhas tem a base de dados?
3. (0.2 pontos) Quais os tipos das colunas da base de dados?
4. (0.4 pontos) Qual o número total de dados faltantes na base de dados?
5. (0.5 pontos) Quantas competições diferentes estão representadas na base de dados?
6. (0.5 pontos) Elimine a coluna **neutral** da base de dados. Após a eliminação da coluna, qual o tamanho total da base de dados restante?

In [58]:
#1.1

import pandas as pd

dados = pd.read_csv("resultados.csv")
dados.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [59]:
#1.2
#Também pode ser verifica usando o df.info()

print(len(dados))

39669

In [60]:
#1.3

print(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39669 entries, 0 to 39668
Data columns (total 9 columns):
date          39669 non-null object
home_team     39669 non-null object
away_team     39669 non-null object
home_score    39669 non-null int64
away_score    39669 non-null int64
tournament    39669 non-null object
city          39669 non-null object
country       39669 non-null object
neutral       39669 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB
None

In [61]:
#1.4

print(dados.info())
#Pode se observar também usando a função info a quantidade de dados não nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39669 entries, 0 to 39668
Data columns (total 9 columns):
date          39669 non-null object
home_team     39669 non-null object
away_team     39669 non-null object
home_score    39669 non-null int64
away_score    39669 non-null int64
tournament    39669 non-null object
city          39669 non-null object
country       39669 non-null object
neutral       39669 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB
None

In [0]:
#1.5

dados['tournament'].value_counts()

In [0]:
#1.6

dados = dados.drop(columns='neutral')
dados.memory_usage()

# Questão 2 (7.0 pontos)
Analisando os dados das "Copas do Mundo" (**FIFA World Cup**)

1. (0.2 pontos) Transforme todas as linhas da coluna **date** para o tipo **datetime**.
2. (0.5 pontos) Crie uma nova coluna na base de dados chamada **ano**. Essa coluna irá conter apenas o ano de cada partida realizada. 
3. (0.3 pontos) Selecione todas as linhas da base de dados cuja competição é igual a Copa do Mundo (**FIFA World Cup**). Armazene o resultado na variável copa_do_mundo. 
4. (1.0 ponto) Quantas copas do mundo foram realizadas de acordo com a base de dados?
5. (2.0 pontos) Quantos gols foram realizados em cada Copa do Mundo? Agrupe o resultado por ano e país sede da competição.
6. (3.0 pontos) Em ordem decrescente, quais as cinco seleções que mais fizeram gols em todas as copas do mundo? Informar também a quantidade de gols de cada uma dessas cinco seleções.

In [0]:
#2.1
dados['date'] = pd.to_datetime(dados['date'])
dados.info()

In [0]:
#2.2
import datetime as dt


dados['ano'] = dados['date'].dt.year
dados['ano'].tail()

In [0]:
#2.3
row_bolean_index = dados['tournament'] == 'FIFA World Cup'
copa_do_mundo = dados[row_bolean_index]
copa_do_mundo.head()

In [0]:
#2.4
len(copa_do_mundo['ano'].value_counts())

In [0]:
#2.5
copa_do_mundo['Goals Total'] = dados['home_score'] + dados['away_score']


copa_do_mundo.pivot_table(index=['country'], values=['Goals Total'], aggfunc='count')

In [0]:
#2.6
#acho que está incorreta, a forma de agrupar as seleções


copa_do_mundo.pivot_table(index=['home_team','away_team'], values=['Goals Total'], aggfunc='max').sort_values(by='Goals Total', ascending=False).head(5)

# Questão 3 (3.0 pontos)

1. (1.5 pontos) Em todo o histórico da base de dados, qual partida teve o maior número de gols marcados?
2. (1.5 pontos) Liste as 10 cidades com o maior número de gols marcados.

In [0]:
#3.1
dados['Goals Total'] = dados['home_score'] + dados['away_score']

dados.pivot_table(index='date', values=['Goals Total'], aggfunc='max').sort_values(by='Goals Total', ascending=False).head(1)

In [0]:
#3.2

dados.pivot_table(index='city', values=['Goals Total'], aggfunc='max').sort_values(by='Goals Total', ascending=False).head(10)