[View in Colaboratory](https://colab.research.google.com/github/carvalheirafc/probabilidade_repository/blob/master/aula04/Lession_04.ipynb)

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [0]:
fstream = open("la_weather.csv", "r")

rows = fstream.read().split('\n')
full_data = []

#split and get the second column
for it_row in rows:
  full_data.append(it_row.split(",")[1])
  
#skip the header
weather = full_data[1:]

print(weather)

In [0]:
#fist element and last element

first_element = weather[0]
last_element = weather[-1]

print(first_element)
print(last_element)

In [0]:
#creating Dictionaries

superhero_ranks = {}
superhero_ranks["Aquaman"] = 1
superhero_ranks["Superman"] = 2

president_ranks = {}
president_ranks["FDR"] = 1
president_ranks["Lincoln"] = 2
president_ranks["Aquaman"] = 3

fdr_rank = president_ranks["FDR"]
lincoln_rank = president_ranks["Lincoln"]
aquaman_rank = president_ranks["Aquaman"]

print(fdr_rank, lincoln_rank, aquaman_rank)

In [0]:
animals = {
    7: "raven",
    8: "goose",
    9: "duck"
}

print(animals)

In [0]:
times = {
    "morning": 9,
    "afternoon": 14,
    "evening": 19,
    "night": 23
}
print(times)

In [0]:
studentsstudent  = {
    "Tom": 60,
    "Jim": 70
}

studentsstudent["Ann"] = 85
studentsstudent["Tom"] = 80
studentsstudent["Jim"] = studentsstudent["Jim"] + 5
 

print(studentsstudent)

In [0]:
planet_numbers = {"mercury": 1, "venus": 2, "earth": 3, "mars": 4}

jupiter_found = "jupiter" in planet_numbers
earth_found = "earth" in planet_numbers

print(jupiter_found, earth_found)

In [0]:

planet_names  = ["Mercury", "Venus", "Earth", "Mars", "Jupiter"
                    , "Saturn", "Neptune", "Uranus"]
short_names = []
long_names = []

for iterator in planet_names:
  if len(iterator) > 5:
    long_names.append(iterator)
  else:
    short_names.append(iterator)
    
print(long_names)
print(short_names)