[View in Colaboratory](https://colab.research.google.com/github/carvalheirafc/probabilidade_repository/blob/master/aula03/resumo_open_cut_lists.ipynb)

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [9]:
f = open("crime_rates.csv", "r")
data = f.read()
rows = data.split("\n")
#print(rows[0:5])

final_data = []
for iterator in rows:
  slicer = iterator.split(",")
  #print(slicer)
  final_data.append(slicer)
 
print(final_data)

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828'], ['Arlington', '503'], ['Atlanta', '1379'], ['Aurora', '425'], ['Austin', '408'], ['Bakersfield', '542'], ['Baltimore', '1405'], ['Boston', '835'], ['Buffalo', '1288'], ['Charlotte-Mecklenburg', '647'], ['Cincinnati', '974'], ['Cleveland', '1383'], ['Colorado Springs', '455'], ['Corpus Christi', '658'], ['Dallas', '675'], ['Denver', '615'], ['Detroit', '2122'], ['El Paso', '423'], ['Fort Wayne', '362'], ['Fort Worth', '587'], ['Fresno', '543'], ['Greensboro', '563'], ['Henderson', '168'], ['Houston', '992'], ['Indianapolis', '1185'], ['Jacksonville', '617'], ['Jersey City', '734'], ['Kansas City', '1263'], ['Las Vegas', '784'], ['Lexington', '352'], ['Lincoln', '397'], ['Long Beach', '575'], ['Los Angeles', '481'], ['Louisville Metro', '598'], ['Memphis', '1750'], ['Mesa', '399'], ['Miami', '1172'], ['Milwaukee', '1294'], ['Minneapolis', '992'], ['Mobile', '522'], ['Nashville', '1216'], ['New Orleans', '815'], ['New York', '639'], ['Newark', '1154'], ['Oakland', '1993'], ['Oklahoma City', '919'], ['Omaha', '594'], ['Philadelphia', '1160'], ['Phoenix', '636'], ['Pittsburgh', '752'], ['Plano', '130'], ['Portland', '517'], ['Raleigh', '423'], ['Riverside', '443'], ['Sacramento', '738'], ['San Antonio', '503'], ['San Diego', '413'], ['San Francisco', '704'], ['San Jose', '363'], ['Santa Ana', '401'], ['Seattle', '597'], ['St. Louis', '1776'], ['St. Paul', '722'], ['Stockton', '1548'], ['Tampa', '616'], ['Toledo', '1171'], ['Tucson', '724'], ['Tulsa', '990'], ['Virginia Beach', '169'], ['Washington', '1177'], ['Wichita', '742']]

In [10]:
int_crime_rates = []
crime_rate = []
for iterator in final_data:
  crime_rate = int(iterator[1])
  int_crime_rates.append(crime_rate)
  
print(int_crime_rates)
print(type(int_crime_rates[0]))

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835, 1288, 647, 974, 1383, 455, 658, 675, 615, 2122, 423, 362, 587, 543, 563, 168, 992, 1185, 617, 734, 1263, 784, 352, 397, 575, 481, 598, 1750, 399, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 130, 517, 423, 443, 738, 503, 413, 704, 363, 401, 597, 1776, 722, 1548, 616, 1171, 724, 990, 169, 1177, 742]
<type 'int'>