[View in Colaboratory](https://colab.research.google.com/github/carvalheirafc/probabilidade_repository/blob/master/prova0/Copy_of_Unidade_01_Avalia%C3%A7%C3%A3o_01_Solu%C3%A7%C3%A3o.ipynb)

## Unidade 01 - Avaliação 01

- **Aluno**: --preencher o nome completo--
- **Matrícula**: --preencer com a matrícula--

<br>
<div class="alert alert-info">
<b>Avisos.</b>
</div>

1. O conceito desta avaliação corresponde a **40% da primera unidade**. Os assuntos aqui abordados fazem menção as sete primeiras aulas do curso.
2. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
3. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
4. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
5. O arquivo da base de dados não deve ser alterado.

## Base de dados

Nessa avaliação será utilizado a base de dados referente ao desempenho dos alunos do Instituto Metropole Digital em disciplinas do núcleo comum do curso de Bacharelado em Tecnologia da Informação. As informações sobre os alunos e disciplinas estão codificadas a fim de manter o anonimato e privacidade dos dados. 

A base de dados está em formato de planilha em excel. Para carregar esse arquivo em formato de **dataframe** utilizar o código abaixo: 

```python
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()
```

In [3]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving imd_Notas.csv to imd_Notas.csv
User uploaded file "imd_Notas.csv" with length 281502 bytes

##### a) (2.0 pontos) Investigando a base de dados

1. (0.2 pontos) Quais as colunas da base de dados?
2. (0.5 pontos)Quais colunas apresentam valores nulos (faltantes)? Em caso afirmativo, quantas linhas de cada coluna apresentam valores nulos?
3. (0.5 pontos) Quantos CEPs diferentes estão presentes na base de dados?
4. (0.4 pontos) Quantos alunos foram registrados?
5. (0.2 pontos) Qual o período em anos dos registros presentes na base de dados?
6. (0.2 ponto) Quantas disciplinas foram analisadas?

In [0]:
import pandas as pd

dados = pd.read_csv("imd_Notas.csv")
dados

In [0]:
# a.1

dados_columns = dados.head(0)
dados_columns

In [17]:
# a.2
#Observaça-se que a coluna enem-nota menos dados non-null do que as demais.

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4842 entries, 0 to 4841
Data columns (total 12 columns):
Unnamed: 0            4842 non-null int64
a_ID                  4842 non-null int64
CEP                   4842 non-null int64
ano_ingresso          4842 non-null int64
periodo_ingresso      4842 non-null int64
status                4842 non-null object
ano_disciplina        4842 non-null int64
periodo_disciplina    4842 non-null int64
nota                  4842 non-null float64
disciplina_ID         4842 non-null int64
status.disciplina     4842 non-null object
enen-nota             4553 non-null float64
dtypes: float64(2), int64(8), object(2)
memory usage: 454.0+ KB

In [0]:
#a.3
print(len(dados['CEP'].unique()))

In [18]:
#a.4
len(dados['a_ID'].unique())

900

In [21]:
dados['ano_ingresso'].unique()

array([2014, 2015, 2016])

In [22]:
dados['disciplina_ID'].unique()

array([0, 1, 2, 3, 4, 5, 6])

## b) (2.0 pontos) Investigando a localização dos alunos


1. (2.0 pontos) Listar a quantidade total de alunos presentes nos cinco CEPs com mais registros.

<dica - consultar as funções duplicated() e value_counts()

In [0]:
cep_count = dados['CEP'].value_counts().head(5)
dados[~dados['a_ID'].duplicated()]['CEP'].value_counts().head(5).sum()

## c) (6.0 pontos) Investigando o desempenho das disciplinas

1. (1 ponto) Calcular as notas médias para cada disciplina.
2. (1,5 pontos) Calcular as notas médias para cada disciplina agrupadas por ano.
3. (2,0 pontos) Calcular o número de alunos aprovados e reprovados por disciplina e agrupados por ano.
4. (1,5 pontos) Calcular a quantidade de alunos classificados de acordo com a coluna status da base de dados.

In [55]:
# c.1
import numpy as np
notas_medias = dados.pivot_table(index=['disciplina_ID'], values='nota', 
                                 aggfunc=np.mean)

notas_medias

                   nota
disciplina_ID
0              4.618657
1              6.539691
2              4.713848
3              3.488725
4              5.431602
5              3.171392
6              4.067869

In [0]:
# c.2
notas_medias_por_ano = dados.pivot_table(index=['disciplina_ID', 'ano_disciplina'], values='nota', 
                                 aggfunc=np.mean)
notas_medias_por_ano